<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% block title %}
    {%endblock%}
    <link href="{% static 'butcher_shop_app/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'butcher_shop_app/css/normalize.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
</head>
<header>
    <nav class="header__nav">
        {% if request.user.is_authenticated == False %}
        <a href="{% url 'registrations' %}">Регистрация</a>
        {% else %}
        <a href="{% url 'lk' %}">{{request.user}}</a>
        {% endif %}
        <a href="#">О нас</a>
        <a href="{% url 'blog_list' %}">Блог</a>
        <a class="logo" href="{% url 'index' %}"></a>
        <a href="{% url 'receipts' %}">Рецепты</a>
        <a href="{% url 'shopping_cart' %}">Корзина</a>
        {% if request.user.is_authenticated == False %}
        <a href="{% url 'login'%}">Войти</a>
        {% else %}
        <a href="{% url 'logout'%}">Выйти</a>
        {% endif %}

    </nav>
    <hr class="header__line"/>
    <nav class="header__nav">
        <a class="second__nav__a" href="{% url 'product_list' %}">Каталог продукции</a>
        <a class="second__nav__a" href="{% url 'order_create' %}">Сделать заказ</a>
    </nav>
    <hr class="header__line"/>
</header>


<body>
{% block content %}
{%endblock%}
</body>
<footer>
  <div class="logo_block">
    <div class="logo__links">
      <p>Только натуральное</p>
      <p>Только свежее</p>
      <p>Только отборное</p>
    </div>
    <div class="footer__logo"></div>
  </div>
  <div class="soc_block">
    <div class="soc__header">Наши соцсети:</div>
    <div class="dzen"></div>
    <div class="vk"></div>
    <div class="telega"></div>
    <div class="ok"></div>
  </div>
  <div class="link_block">
    <div class="link__header">Основные ссылки:</div>
    <a class="link_block__link">Каталог продукции</a>
    <a class="link_block__link">Сделать заказ</a>
    <a class="link_block__link">Блог</a>
    <a class="link_block__link">О нас</a>
  </div>
</footer>
</html>