{% if count_goods_in_cart == 0 %}
<h1>Вы пока ничего не добавили</h1>
{% endif %}
{% for product in cart %}
<br>
<div>
    {{product.product}}
    {{product.product.cost}} руб.\кг
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="goods_count_minus">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <button type="submit">-</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="goods_count">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <input name="goods_count" type="number" min="1" value="{{product.count}}">
    </form>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="goods_count_plus">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <button type="submit">+</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="del_good">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <button type="submit">Удалить товар из корзины</button>
    </form>
    {{product.total_cost}}
</div>
{% endfor %}
<div>
   Итого кол-во {{product_count}}
    Итого кг {{products_count_kg}}
    Итого стоимость {{total_cost}}
</div>