{% if count_goods_in_cart == 0 %}
<h1>Вы пока ничего не добавили</h1>
{% endif %}
{% load static %}
<div class="shopping_cart">
    {% for product in cart %}
    <div class="product__card blog_cart cart_card">
        <div class="image_title_block">
            <span class="product__card__title shopping_cart_title">{{product.product}}</span>
            <img class="product__card__img shopping_cart_img" src="{{product.product.image.url}}">
        </div>
        <div class="shopping_cart_centr_info">
            <div class="flex_container">
                <p class="product__card__cost shopping_cart_cost"><span
                        id="product_cost{{product.id}}">{{product.cost}}</span> руб./кг</p>
                <div class="shopping_cart_count_div">
                    <input type="hidden" value="{% url 'goods_count_minus_plus'  pk=1 product_id=product.id %}"
                           id="plus_url{{product.id}}">
                    <input type="hidden" value="{% url 'goods_count_minus_plus'  pk=0 product_id=product.id %}"
                           id="minus_url{{product.id}}">

                    <button class="product__card_change_btn shopping_cart_cange_btn" name="-"
                            id="change_btn_minus{{product.id}}">&#8722;
                    </button>
                    <form method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" id="change_url" value="{% url 'change_goods_count' %}">
                        <input class="product__card__count__input shopping_cart_input" id="input_{{product.id}}"
                               name="count"
                               type="number" min="1"
                               value="{{product.count}}">
                    </form>
                    <button class="product__card_change_btn shopping_cart_cange_btn" id="change_btn_plus{{product.id}}"
                            name="+">
                        &#43;
                    </button>
                </div>
                <p class="cart_sum"><span id="cart_sum{{product.id}}">{{product.total_cost}}</span> руб.</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="del_good">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <input class="trash_icon" type="image" src="{% static 'butcher_shop_app/img/trash.svg' %}"
                           alt="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<a href="{% url 'product_list' %}" class="standart__button">
    Добавить ещё
</a>

<div class="cart_summary">
    <span class="total_p">Итого:</span>
    <span class="cart_summury_count">{{product_count}} позиций</span>
    <span class="cart_summury_kgs">{{products_count_kg}} кг</span>
    <span class="cart_summury_rub">{{total_cost}} руб.</span>
</div>

<script src="{% static 'butcher_shop_app/js/change_count_cart_m_p.js' %}"></script>
<script src="{% static 'butcher_shop_app/js/change_cart_count.js' %}"></script>
