{% extends 'butcher_shop_app/base.html' %}
{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
{{count_goods_in_cart}}
{{shopping_cart_eq}}
<br><br>
{{cart_len}}<br>
{% for el in cart %}
<br>
{{el.product}}
{{el.count}}
{% endfor %}
{% for product in products %}
<div>
    <h1><a href="#">{{product}}</a></h1>
    <h2>{{product.cost}}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="shopping_cart">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <input name="count"  type="number" min="1" >
        <button type="submit">Добавить в корзину</button>
    </form>

</div>
<br>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="application">
    {{form}}
    <button type="submit">Оставить заявку</button>
</form>
{% endblock %}

