{% extends 'butcher_shop_app/base.html' %}
{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block content %}
{% load static %}

<div class="main__image__div">
    <img class="main__image__div__image" src="{% static 'butcher_shop_app/img/2504.970.jpg' %}">
    <div class="main__image__div__text__block">
      <span class="main__image__div__text">Только лучшее мясо из самых экологически-чистых регионов России, которое мы с
        любовью выращиваем на собственных фермах. Мы кормим животных только “живыми” кормами без ГМО и поим чистой водой
        из скважины 120 метров. Благодаря этому мясо у наших животных получается нежным и вкусным, перед ним не устоит
        даже самый искушенный гурман. </span>
        <a href="#" class="standart__button">Попробовать</a>
    </div>
</div>
<div class="index__cart__block">
    <div class="simple__cart__row">
        {% for product in products %}
        <div class="product__card">
            <img class="product__card__img" src="{{product.image.url}}">
            <a href="{% url 'product_detail' pk=product.id %}" class="product__card__title">{{product}}</a>
            <form method="POST" id="product_list_add_to_cart{{product.id}}" name="{{product.id}}">
                {% csrf_token%}
                <span class="product__card__cost"> {{product.cost}}</span>
                <button type="button" class="product__card_change_btn"
                        onclick="sub_cart_count('product_list_count{{product.id}}')">-
                </button>
                <input class="product__card__count__input" id="product_list_count{{product.id}}" name="count"
                       type="number" min="1"
                       value="1">
                <button type="button" class="product__card_change_btn"
                        onclick="add_cart_count('product_list_count{{product.id}}')">
                    +
                </button>
                 <input id="product_list_url{{product.id}}" type="hidden"  value="{% url 'add_to_cart' %}">
                <input id="product_list_product_id{{product.id}}" type="hidden" name="product_id"
                       value="{{product.id}}">
                <input id="product_list_product_name{{product.id}}" type="hidden" name="product_name"
                       value="{{product.name}}">

                <button type="submit" class="standart__button">В корзину</button>
            </form>
        </div>
        {% endfor %}


    </div>
    <button class="standart__button view__more_btn">Смотреть больше</button>
</div>
<div class="send_application_block">
    <div class="application__title">Оставьте заявку и мы свяжемся с вами</div>
    <form method="post" id="application_form">
        {% csrf_token %}
        <div class="send_application">
             <input id="application_url" type="hidden"  value="{% url 'send_application' %}">
            <div class="base_input margin_class">{{form.name}}</div>
            <div class="base_input ">{{form.phone_number}}</div>
            <div class=base_input>{{form.comment}}</div>
            <button class="standart__button send_application_btn">Отправить</button>
        </div>
    </form>
</div>

<script src="{% static 'butcher_shop_app/js/add_cart_script.js' %}"></script>
<script src="{% static 'butcher_shop_app/js/send_application.js' %}"></script>
<script src="{% static 'butcher_shop_app/js/add_count_at_product_list.js' %}"></script>

{% endblock %}

