{% extends 'butcher_shop_app/base.html' %}
{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block content %}
<br><br>

{% for product in products %}
<div>
    <h1><a href="http://127.0.0.1:8000/product_detail/{{product.id}}">{{product}}</a></h1>
    <img src="{{product.image.url}}" width="200" height="100">
    <h2>{{product.cost}}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="shopping_cart">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <input type="hidden" name="product_name" value="{{product.name}}">
        <input name="count" type="number" min="1" value="1">
        <button type="submit">Добавить в корзину</button>
    </form>

</div>
<br>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="application">
    {{form}}
    <button type="submit">Оставить заявку</button>
</form>
{% endblock %}

