{% extends 'butcher_shop_app/base.html' %}
{% block title %}
<title>Страница авторизации</title>
{% endblock %}
{% block content%}
<div class="login_div">
    <div class="login_header">Вход</div>
    <span>{{errors}}</span>
    <form method="post">
        {% csrf_token %}
        <div class="base_input login_input">
            {{login_form.username}}
        </div>
        <div class="base_input login_input">
            {{login_form.password}}
        </div>
        <button type="submit" class="standart__button">
            Войти
        </button>
    </form>
    <span class="or">или</span>
    <a href="{% url 'registrations' %}" class="standart__button">
        Регистрация
    </a>
</div>


{% endblock %}