{% extends 'butcher_shop_app/base.html' %}
{% block title %}
<title>Заказ</title>
{% endblock %}
{% block content %}
{% if order_send_status %}
<h1>Заказ успешно отправлен, когда мы его получим, мы свяжемся с вами</h1>
<a class="standart__button" href="{% url 'index' %}">Главная страница</a>
{%else %}
{% include "butcher_shop_app/cart_base.html" %}

{% if add_product_in_cart%}
{% else %}

<div class="reg_div order_div">
    <div class="login_header">Данные заказа</div>
    <form method="post">
        {{errors}}
        {% csrf_token %}
        <div class="base_input login_input">
            {{form.name}}
        </div>

        <div class="base_input login_input">
            {{form.phone_number}}
        </div>

        <div class="base_input login_input">
            {{form.address}}
        </div>

        <div class="base_input login_input">
            {{form.delivery_date}}
        </div>

        <div class="base_input login_input">
            {{form.comment}}
        </div>
        <button type="submit" class="standart__button">
            Отправить
        </button>
    </form>
</div>
{% endif %}
{% endif %}

{% endblock %}