{% extends 'butcher_shop_app/base.html' %}
{% block title %}
<title>Список наших товаров</title>
{% endblock %}

{% block content %}
<form  method="get">
    {% csrf_token %}
    {% for category in categories %}
    <input type="checkbox" value="{{category}}" name="category" >
    <span>{{category}}</span>
    {% endfor %}
    <button type="submit">Отфильтровать</button>
</form>
{% for product in products %}
<h1><a href="http://127.0.0.1:8000/product_detail/{{product.id}}">{{product}}</a></h1>
<img src="{{product.image.url}}" width="200" height="100">
    <h2>{{product.cost}}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="shopping_cart">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <input type="hidden" name="product_name" value="{{product.name}}">
        <input name="count" type="number" min="1">
        <button type="submit">Добавить в корзину</button>
    </form>
{% endfor %}
{% endblock %}