<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница регистрации</title>
</head>
<body>
{{errors}}
<form method="post">
    {% csrf_token %}
    {{reg_form.username}}<br>
    {{reg_form.first_name}}<br>
    {{reg_form.email}}<br>
    {{add_info_form.phone_number}}<br>
    {{add_info_form.address}}<br>
    {{reg_form.password1}}<br>
    {{reg_form.password2}}<br>
    <button type="submit">Зарегистрироваться</button>
</form>
<a href="http://127.0.0.1:8000/login">Страница входа</a>
</body>
</html>