{% extends 'butcher_shop_app/base.html' %}
{% block title %}
<title>Страница регистрации</title>
{% endblock %}
{% block content%}
<div class="reg_div">
    <div class="login_header">Регистрация</div>
    <span>{{errors}}</span>
    <form method="post">
        {% csrf_token %}
        <div class="base_input login_input">
            {{reg_form.username}}
        </div>
        <div class="base_input login_input">
            {{reg_form.first_name}}
        </div>
        <div class="base_input login_input">
            {{reg_form.email}}
        </div>
        <div class="base_input login_input">
            {{add_info_form.phone_number}}
        </div>
        <div class="base_input login_input">
            {{add_info_form.address}}
        </div>
        <div class="base_input login_input">
            {{reg_form.password1}}
        </div>
        <div class="base_input login_input">
            {{reg_form.password2}}
        </div>
        <button type="submit" class="standart__button">
            Регистрация
        </button>
    </form>
    <span class="or">или</span>
    <a href="{% url 'login' %}" class="standart__button">
        Войти
    </a>
</div>

{% endblock %}